<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Game</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
</head>

<body>
    <div id="todo-list">
        <h1>To-Do List</h1>
        <ul id="task-list">
            {{ range . }}
                <li class="task">
                    <form hx-target="#task-list" hx-swap="outerHTML">
                        <input type="checkbox"
                            hx-put="/todo"
                            hx-trigger="click"
                            {{ if .Checked}}
                                checked
                            {{ end }}
                        />
                        <input type="hidden" name="id" value={{ .Id }} />
                    </form>
                    <span> {{ .Title }} </span>
                    <form hx-target="#task-list" hx-delete="/todo/{{ .Id }}" hx-swap="outerHTML">
                        <input type="hidden" name="id" value={{ .Id }} />
                        <button class="delete-button" type="submit">Delete</button>
                    </form>
                </li>
            {{ end }}
        </ul>
        <div>
            <form hx-post="/todo" hx-target="#task-list" hx-swap="outerHTML">
                <input type="text" id="new-task" onfocus="this.value=''" placeholder="New Task" name="todo" required />
                <button id="add-task" type="submit">Add Task</button>
            </form>
        </div>
    </div>
</body>
</html>
